<div class="nav-scrollable position-fixed" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addIncome">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Income
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addExpense">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Expense
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addDebt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Debt
            </NavLink>
        </div>
    </nav>
</div>


